body {
    font-family: Arial;
    padding: 20px;
    background: #f4f4f4;
}

h1 {
    color: darkblue;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    background: blue;
    color: white;
    border: none;
}
